.erc20-item {
    display: flex;

    >.img-container {
        background-color: #000;
        border          : 1px solid rgb(41, 42, 37);
        border-radius   : 4px;

        >img {
            max-width: 200px;
        }
    }

    >.content {
        display        : flex;
        flex-direction : column;
        justify-content: space-between;
        margin-left    : 20px;

        >.title {
            >h6 {
                font-weight: bold;
                font-size  : 18px;
                margin     : 20px 0px;
            }

            >p {
                font-weight: bold;
                font-size  : 18px;
                color      : rgb(178, 167, 148);
            }
        }

        >a {
            font-size      : 18px;
            font-weight    : bold;
            display        : flex;
            align-items    : center;
            justify-content: center;
            width          : 216px;
            height         : 61px;
            background     : url("/images/img/blackButton.png");
        }
    }
}